<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <filter>
        <filter-name>RegisterFilter</filter-name>
        <filter-class>online.luffyk.filter.RegisterFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>online.luffyk.filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/manage/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
       <filter-name>RegisterFilter</filter-name>
       <url-pattern>/douserregister</url-pattern>
   </filter-mapping>

    <servlet>
        <servlet-name>doUserAddServlet</servlet-name>
        <servlet-class>online.luffyk.servlet.user.doUserAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doUserSelectServlet</servlet-name>
        <servlet-class>online.luffyk.servlet.user.doUserSelectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>toUserUpdateServlet</servlet-name>
        <servlet-class>online.luffyk.servlet.user.toUserUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doUserUpdateServlet</servlet-name>
        <servlet-class>online.luffyk.servlet.user.doUserUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doUserDeleteServlet</servlet-name>
        <servlet-class>online.luffyk.servlet.user.doUserDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doAdminUseLoginrServlet</servlet-name>
        <servlet-class>online.luffyk.servlet.user.doAdminUseLoginrServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doUserAdminLogoutServlet</servlet-name>
        <servlet-class>online.luffyk.servlet.user.doUserAdminLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doUserCaptchaServlet</servlet-name>
        <servlet-class>online.luffyk.servlet.user.doUserCaptchaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doUserIdCheckServlet</servlet-name>
        <servlet-class>online.luffyk.servlet.user.doUserIdCheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doUserCaptchaCheckServlet</servlet-name>
        <servlet-class>online.luffyk.servlet.user.doUserCaptchaCheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doUserRegisterServlet</servlet-name>
        <servlet-class>online.luffyk.servlet.user.doUserRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doUserLoginServlet</servlet-name>
        <servlet-class>online.luffyk.servlet.user.doUserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doUserLogoutServlet</servlet-name>
        <servlet-class>online.luffyk.servlet.user.doUserLogoutServlet</servlet-class>
    </servlet>


    <!-- 分类相关    -->
    <servlet>
        <servlet-name>doCategorySelectServlet</servlet-name>
        <servlet-class>online.luffyk.servlet.category.doCategorySelectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doAddCategoryServlet</servlet-name>
        <servlet-class>online.luffyk.servlet.category.doAddCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>toCategoryUpdateServlet</servlet-name>
        <servlet-class>online.luffyk.servlet.category.toCategoryUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doCategoryUpdateServlet</servlet-name>
        <servlet-class>online.luffyk.servlet.category.doCategoryUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doCategoryDeleteServlet</servlet-name>
        <servlet-class>online.luffyk.servlet.category.doCategoryDeleteServlet</servlet-class>
    </servlet>

    <!--  前端相关  -->
    <servlet>
        <servlet-name>indexServlet</servlet-name>
        <servlet-class>online.luffyk.servlet.home.indexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>selectProductListServlet</servlet-name>
        <servlet-class>online.luffyk.servlet.home.selectProductListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doProductSelectServlet</servlet-name>
        <servlet-class>online.luffyk.servlet.home.doProductSelectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doProductAddServlet</servlet-name>
        <servlet-class>online.luffyk.servlet.home.doProductAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>selectProductDetailServlet</servlet-name>
        <servlet-class>online.luffyk.servlet.home.selectProductDetailServlet</servlet-class>
    </servlet>
    <!--  购物车相关  -->
    <servlet>
        <servlet-name>doAddCartServlet</servlet-name>
        <servlet-class>online.luffyk.servlet.cart.doAddCartServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>doUserAddServlet</servlet-name>
        <url-pattern>/admin_douseradd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doUserSelectServlet</servlet-name>
        <url-pattern>/admin_douserselect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>toUserUpdateServlet</servlet-name>
        <url-pattern>/admin_touserupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doUserUpdateServlet</servlet-name>
        <url-pattern>/admin_douserupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doUserDeleteServlet</servlet-name>
        <url-pattern>/admin_douserdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doAdminUseLoginrServlet</servlet-name>
        <url-pattern>/admin_douserlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doUserAdminLogoutServlet</servlet-name>
        <url-pattern>/admin_douserlogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doUserCaptchaServlet</servlet-name>
        <url-pattern>/captcha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doUserIdCheckServlet</servlet-name>
        <url-pattern>/dousernamecheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doUserCaptchaCheckServlet</servlet-name>
        <url-pattern>/dousercaptchacheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doUserRegisterServlet</servlet-name>
        <url-pattern>/douserregister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doUserLoginServlet</servlet-name>
        <url-pattern>/douserlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doUserLogoutServlet</servlet-name>
        <url-pattern>/douserlogout</url-pattern>
    </servlet-mapping>
    
    <!--  分类相关  -->
    <servlet-mapping>
        <servlet-name>doCategorySelectServlet</servlet-name>
        <url-pattern>/admin_categoryselect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doAddCategoryServlet</servlet-name>
        <url-pattern>/admin_addcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>toCategoryUpdateServlet</servlet-name>
        <url-pattern>/admin_tocategoryupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doCategoryUpdateServlet</servlet-name>
        <url-pattern>/admin_docategoryupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doCategoryDeleteServlet</servlet-name>
        <url-pattern>/admin_docategorydelete</url-pattern>
    </servlet-mapping>

    <!--  前端相关  -->
    <servlet-mapping>
        <servlet-name>indexServlet</servlet-name>
        <url-pattern>/indexservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>selectProductListServlet</servlet-name>
        <url-pattern>/selectproductlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doProductSelectServlet</servlet-name>
        <url-pattern>/admin_productselect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doProductAddServlet</servlet-name>
        <url-pattern>/admin_doproductadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>selectProductDetailServlet</servlet-name>
        <url-pattern>/selectproductdetail</url-pattern>
    </servlet-mapping>

    <!--  购物车相关  -->
    <servlet-mapping>
        <servlet-name>doAddCartServlet</servlet-name>
        <url-pattern>/addcart</url-pattern>
    </servlet-mapping>
</web-app>
